<main class="contenedor panel-administracion">
    <h1><%- pagina %></h1>

    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Agregar grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de Mayo de 2023</p>
                    <h3>E-commerce en Venezuela</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-azul2">Asistente</a>
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de Mayo de 2023</p>
                    <h3>E-commerce en Venezuela</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-azul2">Asistente</a>
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <h3>BlockChain en Venezuela</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-azul2">Imagen</a>
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>Node.js en Venezuela</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-azul2">Imagen</a>
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>
</main>