<main class="contenedor contenedor-formularios">
    <h1><%- pagina %></h1>

    <form class="default-form" method="post">
        <legend>¿Quieres eliminar el grupo? un grupo eliminado no se puede recuperar</legend>
        <div class="campo enviar">
            <input type="submit" value="Eliminar grupo" class="btn btn-rosa">
        </div>
    </form>
</main>