<h1
style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

"
>Confirma tu cuenta de Meeti</h1>

<p
style="
    font-family: Arial, Helvetica, sans-serif;
">Hola <%- nombre %> , estas a un paso de comenzar a crear una comunindad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace</p>

<a href="<%= url %>" 
style="
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 1rem;
    background-color: #00c897;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
">Confirmar cuenta</a>

<p style="
    font-family: Arial, Helvetica, sans-serif;
">Sino puedes acceder por medio del botón, visita: <%- url %></p>
<p style="
    font-family: Arial, Helvetica, sans-serif;
">Sino fuiste tú quien se registró ignora este correo</p>